.NavigationPane__Display {
  display: block;
}

.NavigationPane__No__Display {
  display: none;
}

.NavigationPane__links {
  flex-grow: 1;
}

.NavigationPane__link {
  font-weight: normal;
  color: #116e1f !important;
}

.NavigationPane__link:hover {
  color: rgb(112, 189, 97) !important;
}