.NavigationPane__Display {
  display: block;
}

.NavigationPane__No__Display {
  display: none;
}

.NavigationPane__li:hover {
  background-color: rgb(57, 106, 47) !important;
}

/* .NavigationPane__link:hover {
  color: rgb(112, 189, 97) !important;
} */