.log-detail-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.DetailGroup-Row {
    display: flex;
    flex-direction: row;
    /* align-items:center;
    padding-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    width:80%;


}

.DetailGroup-Col {
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.log-detail-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;

    line-height: normal;
}

.log-detail-item {
    display: inline-block;
    margin: 15px;
    
}

.log-detail-message-container {
    display: flex;
    justify-content: center;
}

.log-detail-message {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 1500px; 
    width: 100%;
}

div.scroll {
    /* width: 600px; */
    /* height: 150px; */
    overflow-x: hidden;
    overflow-y: scroll; 
    text-align: left;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}
  
  