.log-detail-container {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.log-detail-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;

    line-height: normal;
}

.log-detail-item {
    display: inline-block;
    margin: 25px;
}

.log-detail-message-container {
    display: flex;
    justify-content: center;
}

.log-detail-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.scroll {
    /* width: 600px; */
    /* height: 150px; */
    overflow-x: hidden;
    overflow-y: scroll; 
    text-align: left;
    padding: 40px;
    max-width: 50%;
}
  
  