
.Home__subscreen {
  display: flex;
  justify-content: space-between;
}

.Home__WelcomeTynography {
  margin: 0 45px;
}

.Home__FeaturedInfo{
  flex:4;
  margin-top: 10px;
  margin-left: 45px;
}

.Home__Charts {
  margin-top: 15px;
  text-align: center;
}

