.DashboardScreen__NavigationPane {
  text-align: left;
  max-width: 250px;
  width: 200px;
  /* display: flex; */
  /* align-self: center; */
  padding: 20px;
  /* background-color: #224957; */
  /* height: 80vh; */
}

.DashboardScreen {
  display: flex;
  justify-content: space-between;
  /* max-height: 100vh; */
}

.DashboardScreen__ErrorLogPane {
  /* align-self: end; */
}

.DashboardScreen__NameAndLogout {
  display: inline-block;
  margin: 10px;
}
