.ErrorLogPane {
  display: flex;
  flex-direction: column;
  align-self: self-end;
  background-color: #f9f9f9;
  padding: 20px;
  max-height: inherit;
}

.ErrorLogPane__heading {
  color: #224957;
}
