.DashboardScreen__NavigationPane {
  text-align: left;
  max-width: 250px;
  width: 200px;
  /* display: flex; */
  /* align-self: center; */
  padding: 20px;
  background-color: #f9f9f9;
  height: 95vh;
}

.DashboardScreen {
  display: flex;
  justify-content: space-between;
  /* max-height: 100vh; */
}

.DashboardScreen__NameAndLogout {
  margin: 20px;
}

.DashboardScreen_Logo {
  /* background-color: blue; */
  width: 100%;
}

.DashboardScreen__Center {
  /* background-color:black; */
  width: 100%;
}

.DashboardScreen_Charts {
  /* background-color: red; */
  position: absolute;
  top: 10%;
  left: 30%
}

.DashboardScreen__ErrorLogPane {
  background-color: #f9f9f9;
  position: relative;
  top: 10%
}