.DashboardScreen__Navigation__Button_On {
  z-index: 2;
  display: block;
  text-align: left;
  /* max-width: 250px; */
  width: 200px;
  /* display: flex; */
  /* align-self: center; */
  padding: 20px;
  background-color: #f9f9f9;
  z-index: 2;
  transition: 1s;
}

.DashboardScreen__Navigation__Button_Off {
  z-index: 2;
  transition: 1s;
}

.DashboardScreen__NavigationPane__Display {
  display: block;
  text-align: left;
  max-width: 250px;
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  height: calc(100vh - 40px);
  z-index: 2;
  transition: 1s;
}

.DashboardScreen__NavigationPane__No__Display {
  display: none;
  transition: 1s;
  /*background-color: #8b8787; */
}

.DashboardScreen {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* max-height: 100vh; */
  max-width: 100vw;
}

.DashboardScreen__NameAndLogout {
  margin: 0px;
  padding: 2px;
}

.DashboardScreen_Logo { 
  width: 100%;
}

.DashboardScreen__Center { 
  height: 100vh;
  overflow-y: auto;
  z-index: 1;
  position: relative;
  
  width: -webkit-fill-available;
  /* margin-left: -15%; */
}

.DashboardScreen__Center__main {
  /* position: absolute; */
  /* left: 0; */
  right: 0;
  top: 40;
  justify-content: space-between;
  align-items: flex-end;
  /*background-color: #c7c3c3; */

  /* display: flex; */
}

.DashboardScreen__ErrorLogPane {
  background-color: #f9f9f9;
  position: relative;
  top: 10%;
}

.DashboardScreen_WelcomeTynography {
  font-size: 30px;
}

.DashboardScreen__TopBar {
  display: flex;
  flex-direction: row;
}