.app{
  background: linear-gradient(360deg, rgba(40,140,120,1) 0%, rgba(90,210,170,1) 2%,rgba(255,255,255,0) 2.2%),
  url("../components/Images/Beach.jpg");
  /* , , #A9A9A9 100%, linear-gradient(162deg, #205447 0%, #52d3ab 52.1%, transparent 52.2%); */
  background-size: 100% 100%,cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #A9A9A9;
}

.login-input {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #52d3ab;
  border: 1px solid #52d3ab;
  color: #fff;
  padding: 10px 20px;
}
input[type="submit"]:hover {
  background: #6CF0C2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.help-button {
  display: flex;
  justify-content: center;
  margin-top: -28px;
  cursor: pointer;
  font-size: 15px;
}
.help-button:hover {
  color: #0645AD;
  text-decoration: underline;
}

.login-form {
  justify-content: center;
  background-color: white;
  padding: 2rem;
  padding-bottom: 0rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.highlight {
  display: flex;
  justify-content: center;
  margin:auto;
  padding-top: 6px;
  height: 12px;
  width: 14vw;
  background: #52d3ab;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}