.ErrorLogPane {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  max-height: inherit;
}

.ErrorLogPane__heading {
  color: #224957;
}
.ErrorLogPane__body {
  overflow-y: scroll;
}
